<!DOCTYPE html>
<html>
<head>
  <title>RailsPageComment</title>
  <%= stylesheet_link_tag    "rails_page_comment/application", media: "all" %>
  <%= javascript_include_tag "rails_page_comment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
